<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>110031330317-9chgko48rar7t85rju6fg0aseutk8q1u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.110031330317-9chgko48rar7t85rju6fg0aseutk8q1u</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>110031330317-4dko4v78s7v736l7k8rpunrvd6kn9036.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCSrsKi_dIXgMhtfLMSurYaniPn7OK4Mrw</string>
	<key>GCM_SENDER_ID</key>
	<string>110031330317</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.juliaanokhina.weddingPlanner</string>
	<key>PROJECT_ID</key>
	<string>wedding-planner-84457</string>
	<key>STORAGE_BUCKET</key>
	<string>wedding-planner-84457.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:110031330317:ios:0dbc38de584e45f5130944</string>
	<key>DATABASE_URL</key>
	<string>https://wedding-planner-84457-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>